
/* (((color)))  */
/* --mellow-apricot: #f7b267ff;
--atomic-tangerine: #f79d65ff;
--coral: #f4845fff;
--bittersweet: #f27059ff;
--fire-opal: #f25c54ff; */

/* (((font)))  */
/* font-family: 'IBM Plex Mono', monospace; */
/* font-family: 'Oswald', sans-serif; */


body{
    background-color: #f25c54ff;
    color:#f5f2d0;
    margin-top: 15px;
    margin:auto;
    position: relative;
    width: 980px;
    padding: 10%;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    background-color:  #f4845fff;
    border:solid #f5f2d0 thick;
    border-radius:75px;
    box-shadow: 15px 18px 11px #a13131;
}

table {
    background-color:#f4845fff;
    text-shadow: -1px 0 rgb(146, 132, 132), 0 1px rgb(146, 132, 132), 1px 0 rgb(146, 132, 132), 0 -1px rgb(146, 132, 132);
    box-shadow: 15px 18px 11px #a13131;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
    border-collapse: collapse;
    width: 960px;
    height: 430px;
    padding: 20px;
}

td{
    width: 45px;
    border:solid 5px;
    text-align: center;
}

fieldset {
    border: solid #f5f2d0 15px;
    background-color: #f7b267ff;
    border-radius: 25px;
    margin: 30px auto;
    text-align: center;
    display: block;
    width: 300px;
    box-shadow: 15px 18px 11px #a13131;
}

ledgend {
    font-family: 'IBM Plex Mono', monospace;
    font-size:20px;
    color:#f5f2d0;
    text-shadow: -1px 0 rgb(146, 132, 132), 0 1px rgb(146, 132, 132), 1px 0 rgb(146, 132, 132), 0 -1px rgb(146, 132, 132);
}

fieldset label {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    color:rgb(155, 52, 52);
    float: right;
    margin: 8px;
    
}

#contact {
    width: 600px;
    margin: auto;
    border: solid thick #f5f2d0;
    font-size: 20px;
    padding:1px 15px 1px 15px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
    background-color:  #f7b267ff;
    border-radius: 25px;
    box-shadow: 15px 18px 11px #a13131;
    text-shadow: -1px 0 rgb(146, 132, 132), 0 1px rgb(146, 132, 132), 1px 0 rgb(146, 132, 132), 0 -1px rgb(146, 132, 132);text-shadow: -1px 0 rgb(146, 132, 132), 0 1px rgb(146, 132, 132), 1px 0 rgb(146, 132, 132), 0 -1px rgb(146, 132, 132);
}

section img {
    border-radius: 25px;
    box-shadow: 15px 18px 11px #a13131;
}


button {
    padding: 10px 30px;
    margin:15px;
    border-radius: 6px;
    box-shadow: 6px 8px 8px #a13131;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    color: #f5f2d0;
    background: #f4845fff;
}

a{ 
    background-color: #f79d65ff;
    border:solid rgb(219, 97, 91) thin;
    border-radius:25px;
    padding: 1px;
    font-family: 'IBM Plex Mono', monospace;
    color: #f5f2d0;
    font-size:20px; 
    box-shadow: 4px 4px 11px #a13131;
}

#square {
    border-radius:25px;
    box-shadow: 15px 18px 11px #a13131;
}

#bit {
    border-radius: 25px;
    margin: 8px;
    box-shadow: 15px 18px 11px #a13131;
}

ul {
    list-style-position: inside;
    width: 600px;
    margin-left: 15%;
    font-size:20px;

}

#stores {
    background: #f4845fff;
    border-radius: 100px;
    border: solid thick #f5f2d0;
    padding: 5px;
    margin: 20px;
    box-shadow: 15px 18px 11px #a13131;
}

h6 {
    font-size: 30px;
}